[buildout]
# The main section.

# Tell buildout to not check new packages versions if we already
# have one
newest = false

# The parts option define which sections buildout must install
parts +=
    override-scripts
    test

# Define wich section is used to get packages versions
versions = versions

# Tell buildout to also search packages at this url
# find-links = http://pylonshq.com/download/0.9.4

[versions]
# You can force package's version here
#Pylons=0.9.7rc4
#SQLAlchemy=0.5.2

[info]
additional_eggs =
    nltk
    simplejson
    boto3

[override-scripts]
recipe = z3c.recipe.scripts:scripts
interpreter = python
extra-paths =
    ${buildout:directory}/src
    ${buildout:directory}/src/chat_bot
entry-points =
    chat-bot=main:launch_chat_bot
    chat-bot-trainer=main:launch_chat_bot_trainer
    word-graph-checker=main:launch_word_graph_checker
eggs =
    ${info:additional_eggs}
initialization =
    import nltk
    nltk.download('punkt')

[test]
# The recipe tell buildout what to do with this section.
# zc.recipe.egg just install some eggs in the eggs/ dir
recipe = zc.recipe.egg

# You can add dependencies here
eggs =
    pytest
    pytest-cov
    ${info:additional_eggs}
extra-paths =
    ${buildout:directory}/src
    ${buildout:directory}/src/chat_bot
initialization =
    import nltk
    nltk.download('punkt')
